<div class="container">    
    <form class="row g-3 needs-validation" [formGroup]="formularioContacto" novalidate (submit)="enviar($event)">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" 
            formControlName="email" [ngClass]="{'is-invalid' : hasErrors('email','required') || hasErrors('email','email') }"            
            >
            @if(hasErrors('email','required'))
            {
                <span class="text-danger">email obligatrio</span>
            }
            @if(hasErrors('email','email'))
            {
                <span class="text-danger">email invalido</span>
            }            
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" 
            formControlName="mensage" [ngClass]="{'is-invalid' : hasErrors('mensage','required') || hasErrors('mensage','minlength')}"
            ></textarea>
            @if(hasErrors('mensage','required'))
            {
                <span class="text-danger">mensaje obligaorio</span>
            }
            @if(hasErrors('mensage','minlength'))
            {
                <span class="text-danger">dgite al menos 10 caratacteres</span>
            }
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
      </form>
</div>


